<div>
    {% assign raceId = include.race-info.raceId %}
    <p class="race_name">
        <a href="{{ include.race-info.resultsLink }}" target="_blank">
            {{ include.race-info.raceName }}
        </a>
    </p>
    <table class="results_table">
        <thead>
            <th colspan="3">
                <div class="race_table_header">
                    <span>{{ include.race-info.raceLocation }}</span>
                    <span>{{ include.race-info.raceDate }}</span>
                </div>
                <div class="race_table_rounds_cont">
                    {% for round in include.race-info.rounds %}
                    {% assign roundId = round.roundName | append: raceId | remove: ' ' %}
                    <div class="race_round_tab" id="{{ roundId }}">
                        {{ round.roundName }}
                    </div>
                    {% endfor %}
                </div>
            </th>
        </thead>
        {% for round in include.race-info.rounds %}
        {% assign roundId = round.roundName | append: raceId | remove: ' ' %}
        <tbody id="{{ roundId | append: '-body' }}">
            {% for event in round.events %}
            {% assign eventId = event.eventName | append: roundId | remove: ' ' %}
            <tr>
                <td>{{ event.eventName }}</td>
                <td>{{ event.place }}</td>
                <td>
                    <span class="table_clickable" id="{{ eventId }}">
                        {{ event.time }}
                    </span>
                </td>
            </tr>
            <tr>
                <td colspan="3" class="event_ranking_body" id="{{ eventId | append: '-body' }}">   
                    <a class="table_clickable race_video_link" href="{{ event.videoLink }}" target="_blank">
                        Watch Race - {{ event.eventName }} - {{ round.roundName }}
                    </a>
                    {% for boat in event.ranking %}
                    <div class="race_ranking_cont">
                        <span>{{ boat.boatName }}</span>
                        <span>{{ boat.time }}</span>
                    </div>
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
        {% endfor %}
    </table>
</div>
<script>
// Buttons for switching between race rounds.
const raceRoundTabs{{ raceId }} = [];
'{% for round in include.race-info.rounds %}'
    raceRoundTabs{{ raceId }}.push(document.querySelector('#{{ round.roundName | append: raceId }}'));
'{% endfor %}'

for (const raceRoundTab of raceRoundTabs{{ raceId }}) {
    raceRoundTab.addEventListener('click', () => {
        // When a race round button is pressed, go through all the race-round tables
        // and toggle their visibility. Set the race round body corresponding to the
        // pressed button and turn its visibility on, and turn off other race rounds'
        // visibiilties.
        for (const otherRaceRoundTab of raceRoundTabs{{ raceId }}) {
            const raceRoundBody = document.querySelector(`#${otherRaceRoundTab.id}-body`);
            if (otherRaceRoundTab.id == raceRoundTab.id) {
                // This round was selected.
                otherRaceRoundTab.style.background = "#1e439415"; // Light blue background color.
                otherRaceRoundTab.style.cursor = "default";
                raceRoundBody.style.display = 'block';
            } else {
                // This round was not selected.
                otherRaceRoundTab.style.background = 'white';
                otherRaceRoundTab.style.cursor = "pointer";
                raceRoundBody.style.display = 'none';
            }
        }
    })
}
// When the page loads, the first round is selected.
raceRoundTabs{{ raceId }}[0].click();

// These are the buttons on the time for each event.
const raceRankingButtons{{ raceId }} = [];
'{% for round in include.race-info.rounds %}'
    '{% for event in round.events %}'
        raceRankingButtons{{ raceId }}.push(
            document.querySelector('#{{ event.eventName | append: round.roundName | append: raceId | remove: " " }}'));
    '{% endfor %}'
'{% endfor %}'

for (const raceRankingButton of raceRankingButtons{{ raceId }}) {
    raceRankingButton.addEventListener('click', () => {
        // When a race event button is pressed, go through all the race event tables
        // and toggle their visibility. Set the race event body corresponding to the
        // pressed button and turn its visibility on, and turn off other race events'
        // visibiilties.
        for (const otherRaceRankingButton of raceRankingButtons{{ raceId }}) {
            const raceRankingBody = document.querySelector(`#${otherRaceRankingButton.id}-body`);
            if (raceRankingButton.id == otherRaceRankingButton.id) {
                const currDisplayStyle = raceRankingBody.style.display;
                // Toggle visibilty of time info when button clicked.
                raceRankingBody.style.display = currDisplayStyle == 'table-cell' ? 'none' : 'table-cell';
            } else {
                // Close all other open event infos.
                raceRankingBody.style.display = 'none';
            }
        }
    })
}
</script>
