<div id="sideNavId" class="sideNav sideDetect">
    <div class="sideLinks">
        <a href="/" style="color:#fff">Home</a>
        <a href="about.html">About Us</a>
        <a href="results.html">Race Results</a>
        <a href="recruitment.html">Recruitment</a>
        <a href="alumni.html">Alumni</a>
        <a href="sponsors.html">Sponsors</a>
        <a href="donate.html">
            <div class="donatelink">Donate</div>
        </a>
    </div>
    <div class="sideNavContact sideDetect">
        <p class="emailContact sideDetect">ucsddragonboat@gmail.com</p>
        <a href="mailto:ucsddragonboat@gmail.com">
            <i class="fa fa-envelope fa-inverse" aria-hidden="true"></i>
        </a>
        <a href="https://www.facebook.com/ucsddragonboat/?fref=ts">
            <i class="fa fa-facebook-square"></i>
        </a>
        <a href="https://www.instagram.com/ucsddb/">
            <i class="fa fa-instagram"></i>
        </a>
        <br />
        <a href="https://discord.gg/58URZRc">
            <i class="fa-brands fa-discord"></i>
        </a>
        <a href="https://www.youtube.com/channel/UCxpC4l2IXwBqoRIbFtvQstw">
            <i class="fa fa-youtube"></i>
        </a>
        <a href="https://tiktok.com/@ucsdbragondoat">
            <i class="fa-brands fa-tiktok"></i>
        </a>
    </div>
</div>
<span class="sideNav_button sideDetect" id="btnSideToggle">&#9776</span>