<div id="sideNavId" class="sideNav sideDetect">
    <div class="sideLinks">
        <a href="/" style="color:#fff">Home</a>
        <a href="about.html">About Us</a>
        <a href="results.html">Race Results</a>
        <a href="recruitment.html">Recruitment</a>
        <a href="alumni.html">Alumni</a>
        <a href="sponsors.html">Sponsors</a>
        <a href="donate.html">
            <div class="donatelink">Donate</div>
        </a>
    </div>
    <div class="sideNavContact sideDetect">
        <p class="emailContact sideDetect">ucsddragonboat@gmail.com</p>
        <div class="socialMedia_container sideDetect">
            <a href="https://discord.gg/58URZRc">
                <i class="fa fa-discord"></i>
            </a>
            <a href="https://www.facebook.com/ucsddragonboat/?fref=ts">
                <i class="fa fa-facebook-square"></i>
            </a>
            <a href="https://www.instagram.com/ucsddb/">
                <i class="fa fa-instagram"></i>
            </a>
            <a href="https://www.youtube.com/channel/UCxpC4l2IXwBqoRIbFtvQstw">
                <i class="fa fa-youtube"></i>
            </a>
            <a href="https://tiktok.com/@ucsdbragondoat">
                <i class="fa fa-tiktok"></i>
            </a>
        </div>

        <!-- <p class="sponsorContact">Big Thanks to Our Sponsors!</p>
        <div class="sponsorContainer sideDetect">

            <a class="sponsorIcon sideDetect" id="HubertsLemon" href="https://www.hubertslemonade.com/">
                <img src="img/16_17Season/HubertsLemon.png">
                </a>
            <a class="sponsorIcon sideDetect" style="margin-top: 5%;">
                <img src="img/EidolonHydros.png">
            </a>
            <a class="sponsorIcon sideDetect" id="merlingear" href="https://www.merlingear.com">
                <img src="img/16_17Season/merlingear.jpg">
            </a>
        </div> -->
    </div>
</div>
<span class="sideNav_button sideDetect" id="btnSideToggle">&#9776</span>